<h2 mat-dialog-title *ngIf="isCreate; else editHero">Create Hero</h2>
<ng-template #editHero>
  <h2 mat-dialog-title #editHero>Edit Hero</h2>
</ng-template>

<mat-dialog-content [formGroup]="heroForm">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="isCreate">
    <mat-label>URL</mat-label>
    <input matInput formControlName="url" />
  </mat-form-field>

  <mat-form-field class="w-100 p-t-50">
    <mat-label>Win Rate (%)</mat-label>
    <input type="number" matInput formControlName="win_rate" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Games Played</mat-label>
    <input type="number" matInput formControlName="games_played" />
  </mat-form-field>

<mat-dialog-actions align="end">
  <button mat-button *ngIf="!isCreate" (click)="onDelete()">Delete</button>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" *ngIf="isCreate; else editHeroBtn" (click)="onSubmit()" [disabled]="heroForm.invalid">Create</button>
  <ng-template #editHeroBtn>
      <button mat-button color="primary" (click)="onSubmit()" [disabled]="heroForm.invalid">Edit</button>
  </ng-template>
</mat-dialog-actions>
